[Unit]
Description=Roblox Status Live Nebula
After=syslog.service network.target

[Service]
Type=simple
User={u}
Group={g}
PIDFile=/run/rsl-neb.pid
WorkingDirectory={wd}
ExecStart={py} -m gunicorn -b 0.0.0.0:{prt} -w {wks} launch:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target